<% include ../partials/header %>

<!-- data["Search"][0]["Title"] -->

<%=  %>

<div class="container">
    <% for(var i = 0; i < data["Search"].length; i++) { %>
        <ul>
            <li><%= data["Search"][i]["Title"] %></li>
            <li><%= data["Search"][i]["Year"] %></li>
            <li><%= data["Search"][i]["imdbID"] %></li>
            <li><%= data["Search"][i]["Type"] %></li>
            <li><img src="<%= data["Search"][i]["Poster"] %>" alt="<%= data["Search"][i]["Title"] %>"></li>
            <a class="btn btn-primary" href="/movies/<%= data["Search"][i]["imdbID"] %>">Go to Movie Page!</a>
        </ul>
    <% }; %>
</div>

<% include ../partials/footer %>