<% include ../partials/header %>

<div class="container" style="{text-align: center;}">
    <h3>Diary Page of <%= currentUser.username %></h3>
    
    <table class="table-hover">
        <thead>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Day</th>
                <th>Movie</th>
                <th>Released</th>
                <th>Rating</th>
                <th>Like</th>
                <th>Rewatch</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            
            <!-- For every movie! -->
            <% diary.forEach(function(diaryEntry) { %>
            <tr>
                <td><%= diaryEntry.watchDate.toLocaleString('en-GB', {year: 'numeric'}) %></td>
                <td><%= diaryEntry.watchDate.toLocaleString('en-GB', {month: 'long'}) %></td>
                <td><%= diaryEntry.watchDate.toLocaleString('en-GB', {day: '2-digit'}) %></td>
                <td><%= diaryEntry.movie[0].Title %></td>
                <td><%= diaryEntry.movie[0].Released %></td>
                <% var ratings = diaryEntry.movie[0].Ratings; %>
                <td>
                    <% ratings.forEach(function(rating) { %>
                        <%= rating.Source %>: <%= rating.Value %>
                    <% }); %>
                </td>
                <td>22 likes</td>
                <td>
                    <% if (diaryEntry.isRewatched) { %>
                        Many times!
                    <% } else { %>
                        First Time!
                    <% }  %>
                </td>
                <td>
                    <form action="diary/<%= diaryEntry._id %>/edit" method="GET">
                        <input type="hidden" value="<%= diaryEntry.movie[0].imdbID %>" name="imdbID">
                        <input class="btn btn-primary btn-sm" type="submit" value="Edit">
                    </form>
                </td>
            </tr>
            <% }); %>

        </tbody>
    </table>
</div>



<% include ../partials/footer %>