<% include ../partials/header %>

    <div class="container">
        <h3>Here goes the all movies in DB:</h3>
        <% movies.forEach(function(movie) { %>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <img src="<%= movie["Poster"] %>" alt="movie-poster">
                </div>
                <div class="col-md-8">
                    <h3>
                        <%= movie["Title"] %>
                    </h3>
                    <h5>
                        <%= movie["Released"] %> - directed by
                        <%= movie["Director"] %>
                    </h5>
                    <% if (currentUser !== undefined) { %>
                    <a href="/<%= currentUser.username %>/watchlist/new">
                        <button class="btn btn-primary">Add to Watchlist</button>
                    </a>
                    <a href="/<%= currentUser.username %>/diary/new">
                        <button class="btn btn-primary">Add to Diary</button>
                    </a>
                    <% } else { %>
                    <a href="/movies/<%= movie["imdbID"] %>">
                        <button class="btn btn-primary">Go to Movie Page</button>
                    </a>
                    <% } %>
                </div>
            </div>
            <br>
        <% }); %>
    </div>

<% include ../partials/footer %>