<% include ../partials/header %>

<div class="container">
    <div class=row>
    </div>
    <div class="row">
        <div class="col-md-4" >
            <img src="<%= data["Poster"] %>" alt="movie-poster">
        </div>
        <div class="col-md-8 text-justify" >
            <h3><%= data["Title"] %></h3>
            <h5><%= data["Released"] %> - directed by <%= data["Director"] %></h5>
            <h6><% data["Ratings"].forEach(function(val) { %>
                <%= val.Source %>: <%= val.Value %> | 
                <% }); %>
            </h6>
            <h6>Runtime: <%= data["Runtime"] %></h6>
            <p><%= data["Plot"] %></p>
        </div>
        <div class="col-md-4" >
            <a class="btn btn-primary" href="/watched/<%= data["imdbID"] %>">Add to Watched</a>
            <a class="btn btn-primary" href="#">Add to Watchlist</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>